<?xml version="1.0"?>

<config>
    <modules>
        <Oplati_Oplati>
            <version>0.1.0</version>
        </Oplati_Oplati>
    </modules>
    <global>
        <models>
            <oplati>
                <class>Oplati_Oplati_Model</class>
            </oplati>
        </models>
        <resources>
            <payment_setup>
                <setup>
                    <module>Oplati_Oplati</module>
                </setup>
            </payment_setup>
        </resources>
        <blocks>
            <oplati>
                <class>Oplati_Oplati_Block</class>
            </oplati>
        </blocks>
        <helpers>
            <oplati>
                <class>Oplati_Oplati_Helper</class>
            </oplati>
        </helpers>
    </global>
    <frontend>
        <secure_url>
            <oplati_processing>/oplati/processing</oplati_processing>
        </secure_url>
        <routers>
            <oplati>
                <use>standard</use>
                <args>
                    <module>Oplati_Oplati</module>
                    <frontName>oplati</frontName>
                </args>
            </oplati>
        </routers>
        <translate>
            <modules>
                <Oplati_Oplati>
                    <files>
                        <default>Oplati_Oplati.csv</default>
                    </files>
                </Oplati_Oplati>
            </modules>
        </translate>
        <layout>
            <updates>
                <oplati>
                    <file>oplati.xml</file>
                </oplati>
            </updates>
        </layout>

    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Oplati_Oplati>
                    <files>
                        <default>Oplati_Oplati.csv</default>
                    </files>
                </Oplati_Oplati>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <oplati>
                <active>0</active>
                <model>oplati/method</model>
                <new_order_status>pending_payment</new_order_status>
                <success_order_status>processing</success_order_status>
                <cancel_order_status>canceled</cancel_order_status>
                <title>Oplati</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <qrsize>180</qrsize>
                <check_status_timeout>3</check_status_timeout>
                <sava_transaction>0</sava_transaction>
            </oplati>
        </payment>
    </default>
</config>
